
<button (click)="addEmployee()">添加新员工</button>
<button (click)="asc()">按年龄正序</button>
<button (click)="desc()">按年龄逆序</button>
<button (click)="random()">按年龄乱序</button>

<h2 class="tittle">员工列表</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
   <tr class="tb-header">
       <th>姓名</th>
       <th>性别</th>
       <th>年龄</th>
       <th>职务</th>
   </tr>
   <tr *ngFor="let employee of employees" class="tb-list">
    <td class="tb-cell">{{employee.name}}</td>
    <td class="tb-cell">{{employee.sex}}</td>
    <td class="tb-cell">{{employee.age}}</td>
    <td class="tb-cell">{{employee.position}}</td>
   </tr>
</table>
