<h1>标题 1</h1>
<p>这是段落中的一些文本。</p>
<p>这是另外一个段落</p>
<hr>

<h2>标题 2</h2>
<table border="1" width="100%">
<tbody><tr>
    <th align="left">Name</th>
    <th align="left">E-mail</th>
    <th align="left">Phone</th>
</tr>
<tr>
    <td width="25%">Doe, John</td>
    <td width="25%">jdoe@example.com</td>
    <td width="25%">555-789-7222</td>
</tr>
<tr>
    <td width="25%">Smith, Eva</td>
    <td width="25%">esmith@example.com</td>
    <td width="25%">555-324-3693</td>
</tr>
</tbody></table>
<br>
<hr>

<h3>标题 3</h3>
<p>访问我的 <a href="http://ryanemax.github.io/">博客</a> 或者本次教程地址： <a href="http://doc.oschina.net/angular-ionic">Angular大前端基础与实战 </a>.</p>
<p>你应具备的知识:</p>
<ol>
    <li>HTML</li>
    <li>XHTML</li>
</ol>

<p>你最喜欢的饮料:</p>
<ul>
    <li>Smoothie</li>
    <li>Green tea</li>
      <li>Coffee</li>
</ul>